<div class="container">

  <div class="row">

    <div class="col d-flex flex-row">

      <div class="col"></div>

      <div class="col col-8 justify-content-center card">
        <div class="mt-3">
          <h2><b>List of available recipes:</b></h2>
        </div>

        <div class="mt-3" *ngIf="recipeList.length > 0">
          <table>
            <tr *ngFor="let i of recipeList">
              <td><a [routerLink]="['/recipe', i.id]">{{ i.title }}</a></td>
            </tr>
          </table>
        </div>

        <div class="mt-5 mb-5 msg" *ngIf="recipeList.length <= 0">
          <h3>There are no recipes yet!</h3>
        </div>

        <div class="mt-5">
          <button type="button"
            class="btn btn-success row mt-3"
            [routerLink]="['/add']">
            <b>Add New Recipe</b></button>
        </div>
      </div>

      <div class="col"></div>

    </div>

  </div>

</div>
