
<div class="row">

  <div class="col d-flex flex-row">

    <div class="col"></div>

    <div class="col-sm-8 card mb-3">
      <h1>Adding a new recipe:</h1>

      <form [formGroup]="newRecipe" (ngSubmit)="saveRecipe()">
        <label class="mt-3"><h4><b>Title:</b></h4></label>
        <input type="text" class="form-control" placeholder="Add a recipe name"
          formControlName="title">

        <div formArrayName="ingredients">

          <label class="mt-3"><h4><b>Ingredients:&nbsp;&nbsp;</b></h4></label>
          <button type="button" class="btn btn-info" (click)="addIngredientList()">
            <i class="bi bi-clipboard-plus"></i></button>
          <div class="input-group mt-1"
            *ngFor="let ingredientControl of ingredientArray.controls;
            let i = index">
            <input type="text" class="form-control" [formControlName]="i">
            <button class="btn btn-danger"
              type="button"
              (click)="removeIngredient(i)"
              [disabled]="butDisabled">
              -</button>
          </div>
        </div>

        <label class="mt-3"><h4><b>Instructions:</b></h4></label>
        <textarea class="form-control" rows="4" placeholder="Add instruction(s)"
          formControlName="instruction"></textarea>

        <label class="mt-3"><h4><b>Image (URL):</b></h4></label>
        <input type="text" class="form-control" placeholder="Add image URL"
          formControlName="image">

        <div class="row mt-5">

          <!-- Task 6 - buttons to add and go back -->
          <div class="d-flex align-items-center justify-content-between">
            <div class="mb-3">
              <button type="submit"
                class="btn btn-success ms-5"
                style="font-size:x-large"
                [disabled]="!newRecipe.valid">
                Add Recipe</button>
            </div>

            <div class="mb-3 me-5">
              <button type="button" class="btn btn-dark ms-5" style="font-size:x-large"
                (click)="goHome()">Back To Home</button>
            </div>
          </div>

        </div>
      </form>

    </div>

    <div class="col"></div>

  </div>

</div>


