.card {
  padding: 20px;
  border-radius: 10px;
}

img {
  width : 100%;
  height: auto;
  max-height: 300px;
}

ol {
  font-weight: bold;
}

ol li span {
  font-weight: normal;
}

button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  font-size: larger;
}
