<div class="container card mb-3">

  <div class="row" *ngIf="errorMsg.length > 0">

    <h1 class="mb-2">{{ errorMsg }}</h1>

  </div>

  <div class="row" *ngIf="errorMsg.length <= 0">

    <h1 class="mb-2"><b><u>{{ recipe.title }}</u></b></h1>

    <div class="d-flex justify-content-evenly mb-5">
      <div class="col-sm-4"><img src="{{ recipe.image }}"></div>

      <div class="col-sm-6">
        <h2>Ingredients:</h2>

        <ol>
          <li *ngFor="let i of recipe.ingredients">
            <span>{{ i }}</span>
          </li>
        </ol>
      </div>
    </div>

    <hr>

    <h2>Instructions for making {{ recipe.title | lowercase }}:</h2>
    <p>{{ recipe.instruction }}</p>

    <div class="d-flex justify-content-center mb-3">
      <div class="col-4">
        <button type="button" class="btn btn-dark" [routerLink]="['/']">
          Back To Home</button>
      </div>
    </div>
  </div>

</div>






